{{!< default}}
<main class="mdl-layout__content" role="main">
    <div class="demo-back">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{@blog.url}}">
        <i class="material-icons">arrow_back</i>
      </a>
    </div>
    <article class="ghost-blog__posts mdl-grid {{post_class}}">
        {{#post}}
            <div class="mdl-card mdl-shadow-4dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__media mdl-color-text--grey-50" {{#if image}}style="background-image: url({{image}})"{{/if}}>
                  <h3 class="post-title">{{{title}}}</h3>
                </div>
                <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                  <div class="minilogo"></div>
                  <div>
                    <strong>{{author}} {{#if tags}}on {{tags separator=" | "}}{{/if}}</strong>
                    <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>
                  </div>
                  <div class="section-spacer"></div>
                  <!-- <div class="meta__favorites">425 <i class="material-icons">favorite</i></div>
                  <div><i class="material-icons">bookmark</i></div>
                  <div><i class="material-icons">share</i></div> -->
                </div>
                <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                    {{content}}
                </div>
                <!-- <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                    Comments, about the author, other posts, etc
                </div> -->
            </div>
        {{/post}}
    </article>
</main>
