{{!< default}}
{{! The main content area on the homepage }}
<main class="mdl-layout__content" role="main">
	<div class="ghost-blog__posts mdl-grid">
		{{#foreach posts}}
		<article class="mdl-card mdl-cell mdl-cell--12-col {{post_class}}">
			<div class="mdl-card__media mdl-color-text--grey-50" {{#if image}}style="background-image: url({{image}})"{{/if}}>
				<h3><a href="{{url}}">{{{title}}}</a></h3>
			</div>
			<div class="mdl-card__supporting-text mdl-color-text--grey-600">
				{{excerpt}}&hellip;
			</div>
			<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
				<div class="minilogo"></div>
				<div>
					<strong>{{author}} {{#if tags}}on {{tags}}{{/if}}</strong>
					<span><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
				</div>
			</div>
		</article>

		{{/foreach}}
	</div>
	<script>
	    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
	      var link = el.querySelector('a');
	      if(!link) {
	        return;
	      }
	      var target = link.getAttribute('href');
	      if(!target) {
	        return;
	      }
	      el.addEventListener('click', function() {
	        location.href = target;
	      });
	    });
	  </script>
{{pagination}}

</main>
